<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Erreur : {{ status_text }}</title>
    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type="text/css" />
    {% endblock %}
</head>
<body>
<div class="container">
    <h1>Oops! Une erreur s'est produite durant le chargement de la page.</h1>

    <h2>Notre application a retourné une erreur {{ status_code }} : {{ status_text }}.</h2>

    <div>
        <img class="img-responsive" src="{{ asset('bundles/app/images/404.jpg') }}" alt="erreur 404" />
    </div>
    <div>
        N'hésitez pas à contacter le <a href="{{ path('app_contact') }}">webmaster</a> du site pour corriger l'erreur.
    </div>
</div>

</body>
</html>