{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Date</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if date.date %}{{ date.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ date.slug }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_date_index') }}"class="btn btn-primary">retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
