    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('app_index') }}"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('app_history_view') }}">Le club</a>
                    </li>
                    <li>
                        <ul class="secretariat">
                            <li><h4>Secrétariat</h4></li>
                            <li>Rue Fernand Pineau Chaillou</li>
                            <li>44300 Nantes</li>
                            <li><span class="glyphicon glyphicon-phone-alt"> </span> 02 28 55 66 77</li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h3 class="secretariat">Suivez-nous</h3>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/aspttnanteshandball/?fref=ts"><img src="{{ asset('bundles/app/images/facebook.png') }}" alt="Facebook" height="20px"/></a>
                    </li>
                    <li>
                        <a href=""><img src="{{ asset('bundles/app/images/twitter.png') }}" alt="Twitter" height="20px"/></a>
                    </li>
                    <li>
                        <a href=""><img src="{{ asset('bundles/app/images/instagram.png') }}" alt="Instagram" height="20px"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li>
                        <h2 class="secretariat">Nos Partenaires</h2>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/cocacola.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/rx.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/adidas.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/xboxone.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/pays_loire.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                    <li>
                        <a href="#"><img src="{{ asset('bundles/app/images/symfony.png') }}" alt="Facebook" height="50px"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>