{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Edition Role</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.name, { 'label': 'Nom du rôle' }) }}
    {{ form_rest(edit_form) }}
        {{ form_widget(edit_form) }}
    <button type="submit" class="btn btn-warning">modifier</button>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_position_index') }}"class="btn btn-primary">retour</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger">supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
