{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <div style="float: left; margin-right: 1em;">
        {# On vérifie qu'une image soit bien associée à l'équipe #}
        {% if team.image is not null %}
            <img
                    src="{{ asset(team.image.webPath) }}"
                    alt="{{ team.image.alt }}"
                    height="200"
            />
        {% endif %}
    </div>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ team.category.name }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ team.level }}</td>
            </tr>
            <tr>
                <th>Palmares</th>
                <td>{{ team.palmares }}</td>
            </tr>
            <tr>
                <th>Ranking</th>
                <td>{{ team.ranking }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <ul>
            <li>
                <a href="{{ path('team_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

{% endblock %}
