<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Connexion{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" type="text/css" />
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>ASPTT Nantes Handball</h1>
        <p>
            Espace Administration
        </p>
    </div>
    <div class="row">

        {{ render(controller("AppBundle:Admin:menu")) }}
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div id="content" class="col-sm-8">
            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ key }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
    <div class="row">
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>

    <hr>

    <footer class="footer">
        <h2>IMIE-ASPTT © {{ 'now'|date('Y') }}</h2>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/menu.js') }}"></script>
{% endblock %}

</body>
</html>