{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Liste des entrainements</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Heure</th>
                <th>Equipe</th>
                <th>Salle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            {% for training in day.trainings %}
                <tr>
                    <td><a href="{{ path('admin_training_show', { 'id': training.id }) }}">{{ training.id }}</a></td>
                    <td>{{ day.name }}</td>
                    <td>{{ training.hour|date('H:i:s') }}</td>
                    <td>{{ training.team.name }}</td>
                    <td>{{ training.place.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_training_show', { 'id': training.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_training_edit', { 'id': training.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_training_new') }}">Create a new training</a>
        </li>
    </ul>
{% endblock %}
