{% extends 'base.html.twig' %}

{% block body %}
    <h1>Training</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ training.id }}</td>
            </tr>
            <tr>
                <th>Hour</th>
                <td>{{ training.hour|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ training.team.name }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ training.place.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('training_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('training_edit', { 'id': training.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
