{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Membres</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthdate|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                {% for position in user.positions %}
                <td>
                    {{ position.name }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
