
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Evénements
{% endblock %}

{% block body %}
    <div>
        {{ form(form) }}
    </div>
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <div id="evt">
        <li>
            <ul>
                <li class="dropdown-header"><a class="dropdown-headerEvent" href="{{ path('app_post_club') }}">Evénements du club</a></li>
                <li><a href="{{ path('app_post_club') }}"><img class="menu-img" src="{{ asset('uploads/img/hand.jpg') }}" alt="handball-tour" height="150"></a></li>
            </ul>
        </li>
        <li>
            <ul>
                <li class="dropdown-header"><a class="dropdown-headerEvent" href="{{ path('app_post_handball') }}">Evénements Handball</a></li>
                <li><a href="{{ path('app_post_handball') }}"><img class="menu-img" src="{{ asset('uploads/img/france-islande-handball-2017.jpg') }}" alt="france-islande-handball-2017.jpg" height="150"></a></li>
            </ul>
        </li>
    </div>
    <div class="article">
        {% for post in posts %}
            <a href="{{ path ('app_post_view', {'id': post.id})}} ">
                <h3 class="titleEvent">{{ post.title }}</h3>
            </a>
            {{ post.postCategory }}
            <p class="event">Publier le : {{ post.publishedAt | date('Y-m-d') }}</p>
            {# LE slice permet de gerer les caratères à afficher #}
            <p class="event">{{ post.content|slice(0, 150)}} <a href="{{ path ('app_post_view', {'id': post.id})}} ">... </a></p>
            {% if post.image is not null %}
                <img class="thumbnail imgEvent"
                     src="{{ asset(post.image.webPath) }}"
                     alt="{{ post.image.alt }}"
                     height="150"
                />
            {% endif %}
        {% endfor %}

    </div>




{% endblock %}