{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Liste des matchs</h1>

    <ul>
        <li>
            <a href="{{ path('admin_event_new') }}" class="btn btn-primary">Nouvel événement</a>
        </li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Equipe</th>
                <th>Adversaire</th>
                <th>Heure</th>
                <th>Salle</th>
                <th>Responsable table de marque</th>
                <th>Responsable de Salle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.date.slug }}</td>
                <td>{{ event.team.name }}</td>
                <td>{{ event.opponent }}</td>
                <td>{{ event.hour|date('H:i:s') }}</td>
                <td>{{ event.place.name }}</td>
                {% if event.tableResponsable %}
                    <td>{{ event.tableResponsable.name }}</td>
                {% else %}
                    <td>non attribué</td>
                {% endif %}
                {% if event.placeResponsable %}
                    <td>{{ event.placeResponsable.lastname }} {{ event.placeResponsable.firstname }}</td>
                {% else %}
                    <td>non attribué</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_event_show', { 'id': event.id }) }}"class="btn btn-success btn-sm">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}"class="btn btn-warning">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
