{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Match</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ event.date.slug }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td>{{ event.team.name }}</td>
            </tr>
            <tr>
                <th>Adversaire</th>
                <td>{{ event.opponent }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ event.hour|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ event.place.name }}</td>
            </tr>
            <tr>
                <th>Responsable table de marque</th>
                <td>{{ event.tableResponsable.name }}</td>
            </tr>
            <tr>
                <th>Responsable salle</th>
                <td>{{ event.placeResponsable.lastname }} {{ event.placeResponsable.firstname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
