{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fairplay</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fairPlay.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ fairPlay.title }}</td>
            </tr>
            <tr>
                <th>Fairplaycontent</th>
                <td>{{ fairPlay.fairPlayContent }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_fairplay_index') }}"class="btn btn-primary">retour</a>
        </li>
        <li>
            <a href="{{ path('admin_fairplay_edit', { 'id': fairPlay.id }) }}"class="btn btn-warning">modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">supprimer</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
