{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <h1>Détail</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ post.author }}</td>
            </tr>
            {% if post.image %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(post.image.webPath) }}"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
