{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
<h1>Guide d'utilisation</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Ajouter une date</h2>
        <img class="img-responsive" src="{{ asset('bundles/app/images/guide/navbar_date.png') }}" alt="date" />
    </div>
    <div class="panel-body">
        <img class="img-responsive img-float" src="{{ asset('bundles/app/images/guide/ajout_date.png') }}" alt="date" />
        <p>Cliquez sur le bouton <a href="{{ path('admin_date_new') }}" class="btn btn-primary">Nouvelle date</a> pour accéder à la page de création de date et sélectionnez la date prévue de l’événement.</p>
        <p>Vous pouvez saisir la date manuellement ou par le biais d’un calendrier qui s’affichera en cliquant sur l’icone entouré en rouge comme ci-contre</p>
    </div>

</div>
    <div class="container">
        <ul class="pagination">
            <li><a href="{{ path('admin_guide_index') }}">&laquo;</a></li>
            <li><a href="{{ path('admin_guide_index') }}">menu</a></li>
            <li><a href="{{ path('admin_guide_add_event') }}">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}