{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
    <h1>Guide d'utilisation</h1>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>Ajouter un membre</h2>
            <img class="img-responsive" src="{{ asset('bundles/app/images/guide/navbar_user.png') }}" alt="training" />
            <p>Rendez-vous sur la page de gestion des membres via l’onglet "Membres" ci-dessus:</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <img class="img-responsive img-float" id="myImg1" src="{{ asset('bundles/app/images/guide/user_list.png') }}" alt="user" />
                <p>Vous accédez à une vue d’ensemble de la liste des membres.</p>
                <p>Vous accédez aux différentes options de gestion des membres, pour ajouter un nouveau membre, cliquez sur le bouton
                    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Nouveau membre</a></p>
            </div>
            <div class="row">
                <img class="img-responsive img-float" id="myImg2" src="{{ asset('bundles/app/images/guide/ajout_user.png') }}" width="530px" alt="user" />
                <p>Vous accédez au formulaire de création d'une'équipe.</p>
                <p>Vous pouvez choisir plusieurs rôles en cochant plusieurs cases.</p>
                <p>Une fois le formulaire rempli, cliquez sur le bouton <button class="btn btn-success">ajouter</button></p>
            </div>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </div>

    </div>
    <div class="container">
        <ul class="pagination">
            <li><a href="{{ path('admin_guide_edit_training') }}">&laquo;</a></li>
            <li><a href="{{ path('admin_guide_index') }}">menu</a></li>
            <li><a href="{{ path('admin_guide_edit_user') }}">&raquo;</a></li>
        </ul>
    </div>
{% endblock %}