{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block body %}
<h1>Guide d'utilisation</h1>
    <div class="guide">
        <ol class="number" type="I"><h2>Sommaire:</h2>
            <li>Gestion plannings</li>
            <ol>
                <li><a href="{{ path('admin_guide_add_date') }}">Ajouter une date</a></li>
                <li><a href="{{ path('admin_guide_add_event') }}">Ajouter un match</a></li>
                <li><a href="{{ path('admin_guide_edit_event') }}">Modifier/Supprimer Match</a></li>
                <li><a href="{{ path('admin_guide_add_training') }}">Ajouter un entrainement</a></li>
                <li><a href="{{ path('admin_guide_edit_training') }}">Modifier/Supprimer un entrainement</a></li>
            </ol>
            <li>Gestion Equipes</li>
            <ol>
                <li><a href="{{ path('admin_guide_add_team') }}">Ajouter une équipe</a></li>
                <li><a href="{{ path('admin_guide_edit_team') }}">Modifier/Supprimer une équipe</a></li>
            </ol>
            <li>Gestion Membres</li>
            <ol>
                <li><a href="{{ path('admin_guide_add_user') }}">Ajouter un membre</a></li>
                <li><a href="{{ path('admin_guide_edit_user') }}">Modifier/Supprimer un membre</a></li>
                <li><a href="{{ path('admin_guide_add_position') }}">Gestion des rôles</a></li>
            </ol>
            <li>Gestion Evénements</li>
            <ol>
                <li><a href="{{ path('admin_guide_add_post') }}">Ajouter un événement</a></li>
                <li><a href="{{ path('admin_guide_edit_post') }}">Modifier/Supprimer un événement</a></li>

            </ol>
            <li>Gestion Pages informations</li>
            <ol>
                <li><a href="{{ path('admin_guide_edit_history') }}">Modifier la page « Histoire du club »</li></a>
                <li><a href="{{ path('admin_guide_edit_fairplay') }}">Modifier la page « Charte du club »</a></li>
                <li><a href="{{ path('admin_guide_edit_edito') }}">Modifier la page « Edito »</a></li>
                <li><a href="{{ path('admin_guide_edit_place') }}">Gestion des gymnases</a></li>

            </ol>
        </ol>
    </div>



{% endblock %}