{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="col-md-8">
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <p>Info: {{ message }}</p>
        {% endfor %}

        <h2>{{ edito.title }}</h2>
        <blockquote>
            {{ edito.content }}
            <small class="pull-right">{{ edito.author }}</small><br>
        </blockquote>
    </div>
    <div class="col-md-4">
        {{ render(controller("AppBundle:Default:side")) }}
    </div>

{% endblock %}
