
{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div>
    
    
    <h3>{{ post.title }}</h3>
    {{ post.publishedAt | date('Y-m-d') }}
    {# LE slice permet de gerer les caratères à afficher #}
    <p>{{ post.content}}</p>
       {% if post.image is not null %}
            <img class="thumbnail"
            src="{{ asset(post.image.webPath) }}"
            alt="{{ post.image.alt }}"
            />
            
    {% endif %}
       
    </div>
    {% endblock body %}    