{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Planning annuel
{% endblock %}

{% block body %}
    <div>
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-info"><strong>Informations:</strong> {{ message }}</div>
        {% endfor %}
    </div>

    <h2>Trier par équipe</h2>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div id="team-form">
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        </div>
        {# Idem pour un autre champ. #}
        <div class="form-group">
            {{ form_label(form.name, "Equipe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.name) }}
            <div class="col-sm-10">
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {# Génération automatique des champs pas encore écrits.
           Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
           et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>

    <div class="col-md-3">
        <label for="select">Domicile : </label>
        <span class="dom">lololo</span><br>
        <label for="select">Extérieur : </label>
        <span class="ext">lololo</span>
    </div>

    {% if dates is defined %}
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dates</th>
                        <th>Equipe</th>
                        <th>Equipe</th>
                        <th>Equipe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for datevent in dates %}
                    <tr>
                        <td>{{ datevent.date|date('d-m-Y') }}</td>
                            {% if datevent.events is not null %}
                                {% for event in datevent.events %}
                                    {% if event.place.name != "Extérieur" %}
                                    <td class="lime">
                                    {% else %}
                                    <td>
                                    {% endif %}
                                        <ul>
                                            <li>{{ event.team.name }}</li>
                                            <li>{{ event.opponent }}</li>
                                            <li>{{ event.place.name }} à {{ event.hour|date('H:i') }}</li>
                                        </ul>
                                     </td>
                                {% else %}
                                    {% for i in 0..2 %}
                                    <td>
                                        Pas de match pour cette date
                                    </td>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% if team.events is not empty %}
        <div class="col-md-12">
            <h2>Planning {{ team.name }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Dates</th>
                        <th>Adversaire</th>
                        <th>Heure</th>
                        <th>Lieu</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in team.events %}
                        {% if event.place.name != "Extérieur" %}
                        <tr class="lime">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>{{ event.date.slug }}</td>
                            <td>{{ event.opponent }}</td>
                            <td>{{ event.hour|date('H:i') }}</td>
                            <td>{{ event.place.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <div class="alert alert-danger col-md-8"><span class="glyphicon glyphicon-exclamation-sign"></span> Pas de matchs pour cette équipe</div>
        {% endif %}
    {% endif %}
{% endblock %}