{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    Liste des gymnases du Club
{% endblock %}

{% block body %}
    <div class="container">
        <header class="page-header">
            <h2>Liste des gymnases du Club</h2>
        </header>
        <section class="col-sm-offset-2 col-sm-8">
            <table class="table table-bordered">
                <thead>
                <th>Gymnase</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                </thead>
                <tbody>
                {% for place in places %}
                    {% if place.name != "Extérieur" %}
                    <tr>
                        <td><h4>{{ place.name }}</h4></td>
                        <td>
                            <p>{{ place.adress }}</p>
                            <p>{{ place.postalCode }} {{ place.city }}</p>
                        </td>
                        <td>{{ place.phone }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}