<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Admin ASPTT Nantes Handball{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/menu.css') }}" type="text/css" />
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>ASPTT Nantes Handball</h1>
        <p>
            Espace Administration
        </p>
    </div>

    {% block body %}

        {# On affiche les messages flash que définissent les contrôleurs du bundle #}
        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
        {% block fos_user_content %}
        {% endblock fos_user_content %}

    {% endblock %}
    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/app/js/menu.js') }}"></script>
{% endblock %}

</body>
</html>